.main_post {
    border: 1px solid black;
    margin: 50px;
    padding: 20px;
    border-radius: 10px;
}

.main_post h2 {
    margin-bottom: 20px;
    margin-right: 20px;
}

.ptitle {
    display: flex;
    justify-content: space-between;
}

.action {
    display: flex;
}

.action a {
    color: black;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    width: 100px;
    height: 40px;
    background: transparent;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s ease;
    text-decoration: none;
}


.action .edit:hover {
    background: rgb(6, 201, 6);
}

.action .delete:hover {
    background: rgb(236, 9, 9);
}

.show {
    color: red;
    padding: 20px;
    width: 50%;
    margin-top: 20px;
    margin-left: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
}


.comment {
    background-color: rgb(185, 120, 120);
    height: 20px;
    margin-top: 10px;
    padding: 20px;
    width: 97%;
    border: 1px solid black;
    border-radius: 5px;
}

/* .u_name {
    border: 1px solid rgb(168, 28, 28);
    margin: 50px;
    padding: 20px;
    border-radius: 10px;
} */